# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Directories
_OLD/
_temp/
_demo/
gradio_app/
output/

# Files
.DS_Store
*_OLD.py

# Logs
*.log

# Environment variables
.env

# Output directories
output/

# IDE files
.vscode/
.idea/
